{% extends 'base.html' %}
{% load static %}

{% block title %}Django Ajax CRUD{% endblock %}

{% block content %}
<div class="container">
    <h1>Django Ajax CRUD</h1>
    <div class="row" id="output">
      <div class="col-md-4 ">
        <h3>ADD Product</h3>
        <form id="addProduct" action="">
            {% csrf_token %}
          <div class="form-group">
              <label>Name</label>
            <input class="form-control" id="name" type="text" name="name" placeholder="Name" required>
          </div>
          <div class="form-group">
              <label>Price</label>
            <input class="form-control" id="price" type="number" name="price" placeholder="Price" required>
          </div>
          <div class="form-group">
              <label>Quantity</label>
            <input class="form-control" id="quantity" type="number" name="quantity" placeholder="Quantity" required>
          </div>
          <div class="form-group">
              <label>Status</label>
            <input class="form-control" id="status" type="checkbox" name="status" placeholder="Status">
          </div>
          <div class="form-group">
              <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*">
          </div>

            <br><br>
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
        </form>
      </div>

    </div>
  </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$(document).on('submit','#addProduct', function(e){

e.preventDefault();
var status = $("#status").prop("checked");


  $.ajax({

       url: "/ajax-posting/",
       method : 'POST',
       data: {
            name : $('#name').val(),
            price : $('#price').val(),
            quantity : $('#quantity').val(),
            status : status,

            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            dataType: "json",
            contentType: "application/json; charset=utf-8",

       },
    success: function(data) {
        alert("success");
    },
    error: function(data){
        alert("fail");
    }
    });
  });

</script>
{% endblock javascript %}

