<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
{% block content%}
<body>
    <h1>Welcome</h1>
    {% if messsages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    <div>
        <table>
            <tr>
                <th>Image</th>
                <th>Product  </th>
                <th>  Price  </th>
                <th>  Quantity  </th>
                <th>  Status  </th>
            </tr>
            {% for p in product %}
                <tr>
                    <td><img height="80px" width="50px" src="{{p.productImg.url}}"></td>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.status}}</td>
                    <td><a class ="btn btn-sm btn-info" href="{% url 'update' p.id %}">Update</a> </td>
                    <td><a class ="btn btn-sm btn-danger" href="">Delete</a> </td>
                    <td><a class ="btn btn-sm " href="{% url 'createpdf' p.id %}">Download PDF</a> </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
{% endblock content %}
</html>